<ion-view view-title="Search Doctors">
  <ion-content class="padding">
  
  <div class="list"> 

            <form>
                <ul>
                    <li class="err" ng-repeat="error in errors"> {{ error}} </li>
                </ul>
                <ul>
                    <li class="info" ng-repeat="msg in msgs"> {{ msg}} </li>
                </ul>
              
                <div>
				
				<label class="item item-input item-select">
    <div class="input-label">
      Hospital
    </div>
    <select ng-model="List.h" ng-options="product.id as product.hospital for product in products">           
    </select>
  </label>
        <label class="item item-input item-select">
    <div class="input-label"> 
     Specialty
    </div>
    <select ng-model="List.s" ng-options="specialty.sp_id as specialty.sp_name for specialty in allspecialty">           
    </select>
  </label>           
  <!--  <p ng-model="input.h_id">{{List.h}}</p>
  <p ng-model="input.s_id">{{List.s}}</p>
     <input type="text" ng-model="input.h_id" value="{{hospitalList.id}}"/>
	    <input type="text" ng-model="input.s_id" value="{{specialtyList.sp_id}}"/> -->
	 		
                
             <button  ng-click="getDoc(List)" class="button button-block button-positive">SUBMIT</button>
			 
            </form>
		



</div>

<div align="center" data-ng-show="loading"><ion-spinner></ion-spinner></div>

<ion-list>
      <ion-item ng-repeat="doclist in allDocs" href="#/tab/chats/{{doclist.doc_id}}">
        
		<h2>{{doclist.doc_name}}</h2>
        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
