<ion-view view-title="Search Doctors">
  <ion-content class="padding">
  
  <div class="list"> 

            <form>
                <ul>
                    <li class="err" ng-repeat="error in errors"> {{ error}} </li>
                </ul>
                <ul>
                    <li class="info" ng-repeat="msg in msgs"> {{ msg}} </li>
                </ul>
              
                <div>
				
				<label class="item item-input item-select">
    <div class="input-label">
      Hospital
    </div>
    <select ng-model="List.h" ng-options="product.id as product.hospital for product in products">           
    </select>
  </label>
        <label class="item item-input item-select">
    <div class="input-label"> 
     Specialty
    </div>
    <select ng-model="List.s" ng-options="specialty.sp_id as specialty.sp_name for specialty in allspecialty">           
    </select>
  </label>           
  <!--  <p ng-model="input.h_id">{{List.h}}</p>
  <p ng-model="input.s_id">{{List.s}}</p>
     <input type="text" ng-model="input.h_id" value="{{hospitalList.id}}"/>
	    <input type="text" ng-model="input.s_id" value="{{specialtyList.sp_id}}"/> -->
	 		
                
             <button  ng-click="getDoc(List)" class="button button-block button-positive">SUBMIT</button>
			 
            </form>
			<ul class="list">
	<li ng-repeat="doclist in allDocs" class="item">{{doclist.doc_name}} {{doclist.doc_id}} </li>
   
	
</ul>

	<label ng-repeat="doclist in allDocs">
   
	<span> {{doclist.doc_name}} {{doclist.doc_id}} </span>
	
    </label>
			



</div>

<div data-ng-show="loading"><ion-spinner></ion-spinner></div>
<button class="button button-block button-positive" ng-click="showDetails = ! showDetails">
 Search
</button>

<ul class="list" ng-show="showDetails">
	<li ui-sref="docdetails" class="item">Dr C. Gayle</li>
    <li class="item">Dr A.B. Taylor</li>
	<li class="item">Dr C.J. Smith</li>
	<li class="item">Dr Tommy Gorge</li>
	<li class="item">Dr Ricky Ponting</li>
	<li class="item">Dr S. Fleming</li>
	
</ul>
  </ion-content>
</ion-view>
