<ion-view view-title="My Profile">
  <ion-content class="padding">
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="Hozny">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="hozni@gmail.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Mobile</span>
    <input type="number" placeholder="5289631">
  </label>
</div> 
  </ion-content>
</ion-view>
