<ion-view view-title="Status">
  
 
   <ion-content class="padding">
    <div class="item item-divider">
  All Appointments
   </div>
  <div class="card">
  <div class="item item-divider">
    Dr C. Gayle
  </div>
  <div class="item item-text-wrap">
   Status: <span class="assertive">Pending</span>
  </div>
  <div class="item item-divider">
    <h4> Date: 01/05/2015 </h4>
	<h4> Time: 10:00 AM </h4>
  </div>
</div>
  <div class="card">
  <div class="item item-divider">
    Dr A.B. Taylor
  </div>
  <div class="item item-text-wrap">
   Status: <span class="balanced">Approved</span>
  </div>
  <div class="item item-divider">
    <h4> Date: 01/01/2015 </h4>
	<h4> Time: 3:00 PM </h4>
  </div>
</div>
</ion-content>
</ion-view>