<ion-view view-title="Login">
  <ion-content class="padding">
  
  <img class="centered" width="170" src="img/my.png">
  
    <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Email">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password">
  </label>
</div>

<button ui-sref="welcomebtn" class="button button-block button-positive">
 Login
</button>
<div class="topbot">
<img class="centered" width="100" src="img/by.png">
<div class="row">
<div class="col col-33 col-offset-35">Version 1.0</div>
</div>
</div>
  </ion-content>
</ion-view>



